body{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;
    font-style: normal;
    color:#fef1cf;
}

p{
    text-align: center;
    margin: 0;
}


.container{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 500px;
    background-color: #AF8F6F;
    margin: auto;
    margin-top: 10%;
    border-style: solid;
    border-width: 4px;
    border-color: #543310;
    border-radius: 10px;
    background-image: url('imgs/bg.png');
}

.text{
    margin-top: 50%;
}
.footer{
    margin-top:300px;
}