body{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 40px;
    font-style: italic;
    color: #5b3219;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.container{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 500px;
    background-color: #AF8F6F;
    margin: auto;
    margin-top: 10%;
    border-style: solid;
    border-width: 4px;
    border-color: #543310;
    border-radius: 10px;
    background-image: url('imgs/bg.png');
    justify-content: center;
    text-align: center;
}

.loading-bar {
    width: 300px;
    height: 20px;
    background-color:#cf774a;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    align-self: center;
}

.progress {
    height: 100%;
    width: 0;
    background-color:  #5b3219;
    animation: load-animation 3s ease-in-out forwards;
}

@keyframes load-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}