body{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fef1cf;
    background-image: url('imgs/cafe\ bg.jpg');
}


.container{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 500px;
    background-color: #AF8F6F;
    margin: auto;
    margin-top: 10%;
    border-style: solid;
    border-width: 4px;
    border-color: #543310;
    border-radius: 10px;
    background-image: url('imgs/bg.png');
    justify-content: center;
    align-items: center;
}

.footer{
    color: #ddbc95;
    
}

.start-button{
    display:flex;
    justify-content: center;
}
.button{
    margin-top: 40px;
    align-items: center;
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F8F4E1;
    border-style: none;
    border-radius: 40px;
    color:#5b3219;
    box-shadow: #000000 0 5px 5px;
    transition: background-color 0.15s, color 0.15s;
}

.button:hover{
    background-color:#5b3219;
    color: #F8F4E1;
}

.button:active{
    background-color: #34291b;
}

.footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}