body{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;
    color: #fef1cf;
    background-image: url('imgs/cafe-bg.jpg');
}

/*start page*/

.start-button{
    display:flex;
    justify-content: center;
}
.button{
    margin: auto;
    align-items: center;
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F8F4E1;
    border-style: none;
    border-radius: 40px;
    color:#5b3219;
    box-shadow: #000000 0 5px 5px;
    transition: background-color 0.15s, color 0.15s;
}

.button:hover{
    background-color:#5b3219;
    color: #F8F4E1;
}

.button:active{
    background-color: #34291b;
}

/*general layout*/

.container{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 500px;
    background-color: #F8F4E1;
    margin: auto;
    margin-top: 10%;
    border-style: solid;
    border-width: 4px;
    border-color: #543310;
    border-radius: 10px;
    background-image: url('imgs/bg.png');
    align-items: center;
}

.navbar{
    position: sticky;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    color: #5b3219;
    background-color: #af6b3d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar div {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.navbar div:hover {
    transform: scale(1.1);
}

/*homepage*/

.title{
    display:flex;
    justify-content: center;
    padding-top: 15px;
}
.title-pic{
   height: 180px;
}

.coffee-table{
    display: grid;
    column-gap: 10px;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    padding-bottom:5px;
    align-items: center;
    color: #fff0c9;
    text-align: center;
    margin-bottom: 0;

}
.banner{
    margin-top: 0;
    background-color:#fef1cf;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    height:40px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}

.banner p{
    margin: 0;
}

.banner:hover {
    animation: jiggle 0.3s ease-in-out;
}

.subtitle{
    align-self: center;
    font-size:25px;
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-weight:600;
    color: #cf774a;
}

.footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    color: #ffffff;
}

.coffee-start{
    text-align: center;
    margin-top: 30%;
}


.coffee-table > div > p{
    margin: 0;
}

.coffee-table>div{
    margin-bottom: 25px;
}

.coffee-table div {
    display: inline-block;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.coffee-table div:hover {
    transform: scale(1.1);
    animation: zoomInOut 0.6s infinite alternate ease-in-out;
    cursor: pointer;
}


.steam {
    position: absolute;
    width: 30px;
    height: 30px;
    background: radial-gradient(white, rgba(255, 255, 255, 0)); /* Soft white steam effect */
    border-radius: 50%;
    opacity: 0;
    animation: steam 2.5s infinite linear;
}


.coffee-item {
    position: relative;
    display: inline-block;
    text-align: center;
}

/*about*/

.text{
    margin: auto;
    text-align: center;
    color: #5b3219;
}

#about .navbar{
    flex-basis: auto;
    justify-content: space-between;
}

#about .navbar div{
    margin-left: 10px;
    margin-right: 10px;
}

.steam:nth-child(1) {
    left: 10px;
    animation-delay: 0s;
}

.steam:nth-child(2) {
    left: 20px;
    animation-delay: 1s;
}

.steam:nth-child(3) {
    left: 30px;
    animation-delay: 1.5s;
}

.steam:nth-child(4) {
    left: 40px;
    animation-delay: 2s;
}

/*loading transition page*/

.loading-container{
    margin: auto;
}

.loading-bar {
    width: 300px;
    height: 20px;
    background-color:#cf774a;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    align-self: center;
}

.progress {
    height: 100%;
    width: 0;
    background-color:  #5b3219;
    animation: load-animation 3s ease-in-out forwards;
}

.brewing{
    font-weight: 300;
    font-size: 40px;
    font-style: italic;
    color: #5b3219;
}

@keyframes load-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes zoomInOut {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes steam {
    0% { opacity: 0.1; transform: translateY(5px) scale(1); }
    50% { opacity: 0.3; transform: translateY(-10px) scale(1.1); }
    100% { opacity: 0; transform: translateY(-20px) scale(1.2); }
}

@keyframes jiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-2deg); }
    50% { transform: rotate(2deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

a, a:visited, a:active{
    text-decoration: none;
    color:  #5b3219;
    transition: color 0.15s;

}

a:hover{
    color: rgb(251, 239, 224);
}